* {
  font-family: "BigBlueTermPlus Nerd Font", "Symbols Nerd Font", sans-serif, monospace;
  font-size: 13px;
  color: #d0d0d0;
  border: none;
  margin: 5;
  padding: 0;
  box-shadow: none;
}

window#waybar {
  /*background-color: rgba(20, 20, 30, 0.85);*/
  background-color: transparent;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/
  transition: background-color 0.3s ease;
}

#workspaces button {
  padding: 0 10px;
  margin: 3px 3px;
  border-radius: 6px;
  background-color: transparent;
  color: #888;
}

#workspaces button.active {
  background-color: #4c566a;
  color: #ffffff;
}

#workspaces button:hover {
  background-color: #5e81ac;
  color: #ffffff;
}

#clock,
#cpu,
#memory,
#battery,
#temperature,
#pulseaudio,
#network,
#custom-power,
#custom-gpu,
#language,
#custom-swap {
  padding: 0 10px;
  margin: 0 5px;
  color: #17241a;
  border-radius: 6px;
}

#clock {
  background-color: #c4514d;
}

#pulseaudio {
  background-color: #d9c741;
}

#battery {
  background-color: #a3be8c;
}

#battery button.hover {
  background-color: rgba(75,173,96,1);
}
#language{
  background-color: rgba(204,33,101,1);
}

#network {
  background-color: #5d9691;
}
